<!DOCTYPE html>
<html>
<head>
	<title>Admin Profile</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body class="text-white bg-dark">
  <div class="bg">
  <br>
  <br>
  <div class="font-weight-bold text-left bg-dark text-white"> 
  <h1>Update Water Consumption of Users</h1>
  <br>  
	<form action="{{url_for('update')}}">
      <div class="form-group col-md-6">
        <label for="house">Apartment Number</label>
        <input type="number" min="1" max="20" class="form-control" id="house" placeholder="Apartment" name="house" required>
      </div>
      <div class="form-group col-md-6">
    		<label for="month">Month and Year</label>
    		<input type="month" class="form-control" id="month" placeholder="Month" name="month" required>
      </div>  
  		<div class="form-group col-md-6">
    		<label for="consume">Consumed in litres</label>
    		<input type="number" min="0" max="100000" class="form-control" id="consume"placeholder="Consumed" name="consume" required>
  		</div>
  		<button type="submit" class="ml-3 btn btn-success">Submit</button>
      <br><br>
      <a class="ml-3 text-light btn btn-success" role="button" href="{{url_for('home')}}">Log Out</a>
  	</form>
  </div>

</body>
</html>